__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/

# dotenv (креды не коммитим)
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


outputs/
multirun/
.multirun/


mlruns/
plots/mlruns/


.dvc/cache/
.dvc/tmp/
.dvc/config.local


data/raw/**
!data/raw/.gitkeep
!data/raw/*.dvc

data/processed/**
!data/processed/.gitkeep
!data/processed/*.dvc

artifacts/**
!artifacts/.gitkeep
!artifacts/*.dvc

plots/**
!plots/.gitkeep


*.ckpt
*.pth
*.onnx
*.trt

mlflow.db
*.db
